{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}



<div class="md:w-3/5 mx-auto my-12 flex flex-col-reverse md:flex-row">

    <div class="mx-auto md:mx-0">
    {% with images=page.image_gallery.all %}
        {% if images %}
            {% for image in images %}
                <div class="p-4">{% image image.image fill-200x200 %}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    <div class="card bg-base-100 shadow-2xl mx-2 md:mx-0 p-5 w-full flex-column leading-8">
        <h2 class="text-3xl">{{ page.title }}</h2>
        <p class="text-2xl py-5">{{ page.presentation|richtext }}</p>
    </div>

</div>

{% endblock content %}